<!DOCTYPE html>
  html
    head
      title Bumblr Login
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/admin/style.css" type="text/css">
      style(type="text/css") html,body,.form-contain{display:flex;flex-direction:column;min-height:100%;flex:1 1 auto}.form-contain{flex:1 1 auto;align-items:center;justify-content:center;}
    body.admin
      header
        .hero.is-warning
          .hero-body
            .container
              h1.title Please Log In.
      .form-contain
        .box
          form#form
              .field
                  label.label Username:
                  input.input(type="text" name="username")#username
              .field
                  label.label Password:
                  input.input(type="password" name="password")#password
              .field
                  input.button.is-primary(type="submit" value="Log In")
    script(type="text/javascript" src="login.js")
