@import "bulma";

$bg: #fff;
$fg: #000;
$bg2: #333;
$fg2: #cdd;
$shadow: 0 0 10px 1px rgba(0,0,0,0.2);

html{
  background-color:$bg;
  color:$fg;
  height:100%;
  margin:0;
  padding:0;
  font-family:sans-serif;
  overflow-y:auto;
}
body{
  margin:0;
  padding:0;
  display:flex;
  align-items:stretch;
  min-height:100%;
}
.sidebar{
  flex:0 0 auto;
  padding:0 0.5rem;
  border-right:solid 1px #eee;
  z-index:2;
  box-shadow:$shadow;
}
.sidebar>.big{
  font-size:1.4rem;
  margin:0.5rem;
  list-style-type:none;
}
hash-template{
  display:none;
}
hash-template.unhidden{
  display:block;
}
.menu-list li, .menu-list a{
  transition: all 0.2s;
}
#app{
  flex: 1 1 auto;
  margin:1em;
}
#app>*{
  padding:2rem;
  height:100%;
}
#popup-area{
  position:fixed;
  width:100%;
  height:0;
  bottom:0;
  left:0;
  right:0;
  padding:2rem;
  display:flex;
  flex-direction: column;
  z-index:10;
  justify-content: flex-end;
  align-items:flex-end;
}
// fresh popup
.popup{
  position:relative;
  transform:translateZ(0) scale(1);
  opacity:0;
  flex:0 1 auto;
  position:relative;
  z-index:10;
  opacity:1;
  transition:all 0.5s;
  box-shadow: $shadow;
  width:15rem;
}
// being added
.popup.fadein{
  opacity:1;
  transform:translateY(6rem) scale(0);
}
// being removed
.popup.fadeout{
  transition:all 2s;
  opacity:0;
  transform:translateX(40rem) scale(1);
}
.thumb{
  display:inline-block;
  width:150px;
  height:100px;
  border:solid 1px black;
}
.asset{
  display:flex;
  align-items:center;
  border-bottom:solid 1px $grey-lighter;
}
.asset:first-child{
  border-top:solid 1px $grey-lighter;
}
.asset>*{
  margin:0.5rem;
}
.textedit{
  font-family:monospace;
  white-space: nowrap;
  overflow: auto;
}
