

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

@import './colors.scss';


%admin-shared{
  $card-bg:red !default;
  $fg:red !default;

  background-color:$card-bg;
  color:$fg;
  height:100%;
  margin:0;
  padding:0;
  font-family:sans-serif;
  overflow-y:auto;
}


// taken from bulma

html{
  margin:0;
  box-sizing: border-box;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

html.admin:not(.nightmode){
  @import './colors.scss';
  @import "bulma";
  @import "buefy";
  @extend %admin-shared;
  @import './adminstyle.scss';
}
html.admin.nightmode{
  @import './colors-inverse.scss';
  @import "bulma";
  @import "buefy";
  @extend %admin-shared;
  background-color:$card-bg;
  color:$fg;
  @import './adminstyle.scss';
}
